<div class="title-container">

  <div class="old-weather-text">
    <p>Mapping Inequality</p>    
  </div>

  <div class="tagline">
    Capturing Redlined Neighborhoods in American Cities.
  </div>

  <div class="project-summary">
    Following the mortgage crises of the Great Depression, the federal government established the Home Owners’ Loan Corporation to refinance troubled residential homes. Unbeknownst to HOLC and the federal government, the 1939 surveys would have major effects on American cities, especially during  Urban Renewal in the 1950’s.
  </div>

  <div class="old-weather-link">
    <a href="http://dcicblog.umd.edu/redliningbaltimore/">Check out the Mapping Inequality blog &#10146;</a>
  </div>

  <div class="button-container">
<!--     <a class="standard-button" href="/#/mark">
      Start Marking
      <span class="arrow">&#10146;</span>
    </a> -->
    <a class="standard-button" href="/#/transcribe">
      Start Transcribing
      <span class="arrow">&#10146;</span>
    </a>
  </div>

</div>
