<div id="about-page">
  <nav>
    <ul>
      <li><a href="#about-the-project" class="about-nav selected-content">About the Project</a></li>
      <li><a href="#about-help" class="about-nav" >How can you help?</a></li>
    </ul>
  </nav>

  <div id="about-the-project" class="selected-content" >
    <h2>Welcome to Mapping Inequality!</h2>
    <p>Redlining in New Deal America, a big cultural data project stemming from the collaboration of multiple research institutions, universities, and individuals.  We are a team of archivists, historians, programmers, and information managers with a common mission: exploring the dark side of American history that the textbooks don’t talk about.</p>  
  	<p>Following the mortgage crises of the Great Depression, the federal government established the Home Owners’ Loan Corporation to refinance troubled residential homes. Assessing the racial makeup and building conditions in major US cities, HOLC analyzed urban neighborhoods to determine potential refinance investments. HOLC created maps and area descriptions to describe the features and threats to a particular area; neighborhoods were graded based on the racial/ethnic presence, high and low-income families, and environmental problems. Areas shaded green predominately contained wealthy, white families who lived in nice houses while areas shaded red predominately contained poor, black/hispanic families who lived in deteriorating buildings. Referring to map shading, grading, and area descriptions, financial institutions made decisions on loan sizes, refinancing opportunities, etc.. Unbeknownst to HOLC and the federal government, the 1939 surveys would have major effects on American cities, especially during  Urban Renewal in the 1950’s. In short, HOLC orchestrated the denial of financial services based on race and ethnic background. AKA Redlining.</p>
    <p>The HOLC surveys and maps are currently stored at National Archives, College Park in RG 195: General Records of the Department of Housing and Urban Development. Multiple teams of archivists have ventured to the National Archives to digitize the collection. The DCIC team at the University of Maryland is now in the process of extracting the area description text and financial data with archival techniques and software. We will utilize this data to create a queryable database with rich economic and demographic data. Furthermore, working with geospatial-information system software like ARCGIS and QGIS, the team aims to georeference the historic maps onto Google Maps t0 visualize how neighborhoods change over time.</p>
    <p>With this data, individuals can discover the locations where modern highways were built in relation to targeted historic neighborhoods. Historians and economists can work with housing and mortgage data at a historical scale and its transformation over time. Racial data from 1939 surveys relating to Ferguson, Missouri or Baltimore, Maryland are now accessible, and can be used to understand modern racial tensions, gentrification, and riots. </p>
    <p>The HOLC surveys are rich with content and  stories that are yet to be explored or told. Follow our team as we investigate historical sources, archival practices, and modern technology to unravel Redlining in New Deal America.</p>
  </div>

  <div id="about-help" >
    <h2>Interested in the project?</h2>
    <p>Visit our website: <a href="http://dcic.umd.edu" target='_blank'>DCIC</a><br>We welcome students with diverse backgrounds!</p>
  </div>

</div>
